<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DIABETES PROJECT BY RAKSHITA</title>
    <style>
      body {
           background-color:#fff5;
           background-image: url('https://cdn.glitch.global/566fcb64-5b7a-471d-bec8-6c112bbe1275/aiml6.jpeg?v=1720353812564');
           background-size: cover;
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-position: center;
/*            fliter:blur(10px); */
          } 
    </style>
</head>
  
  <body>
    
    <h1 align="center" style="color:white;">
      <u>DIABETES PREDICTOR MODEL</u>
    </h1>
    <br>
    <br>
    <center>
    <img src="https://cdn.glitch.global/566fcb64-5b7a-471d-bec8-6c112bbe1275/aiml3.jpeg?v=1720352270734">
    <br>
    <br>  
    <a href="project">
    <h3 style="color:white;">
      CLICK TO VIEW THE PROJECT
       </h3>
      </a>
    </center>
   
  </body>
</html>
